<!DOCTYPE html>
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    //- CSS,JS読み込み
    link(rel="stylesheet", href="./css/app.css")
    script(type="text/javascript" src="./js/index.js")
    title kohe-Web1week | 名前入力
  body
    main(class="main")
      div(class="description")
        h1(class="description__h1") ルール説明
        p(class="description__p") 2人で遊ぶゲームです。
        p(class="description__p") 交互にカウントを減らしていって0にした人が負けです。
        p(class="description__p") 初期設定カウントは30~50の1でランダムに設定されます。
        p(class="description__p") 1ターンに押せるボタンの回数は3回までです。
      form(class="form" action="./app.html")
        ul(class="form__ul")
          li(class="form__li")
            label(class="form__label" for="name") 先攻プレイヤーの名前
            input(class="form__input" id="first-player-name" type="text")
          li(class="form__li")
            label(class="form__label" for="name") 後攻プレイヤーの名前
            input(class="form__input" id="second-player-name" type="text")
        button(class="form__button" id="btn-start") ゲームスタート